<div class="container" ng-controller="PresenceCtrl">
<div class="row">
<div class="col-sm-2 col-xs-12">	 
	<div class="row">
		 <div class="pricing-table pricing-three-column">
        <div class="plan">
		 <div class="plan-name-silver">
          <a href="#/actiontable" ><h4><span class="glyphicon glyphicon-info-sign" tooltip="{{activeUsersTooltip}}"></span> Active Users  <button type="button" class="btn btn-md btn-primary">{{activeUsers}}</button></h4></a>
        </div>
        </div>
 	</div>		
 	</div>
 	<br>
 	<div class="row">
 		<div class="pricing-table pricing-three-column">
        <div class="plan">
		 <div class="plan-name-silver">
		 	<a href="#/dashboard" ><h4><span class="glyphicon glyphicon-info-sign" tooltip="{{allUsersTooltip}}"></span> All Users  <button type="button" class="btn btn-md btn-primary">{{allUsers}}</button></h4></a>
		 	</div>
        </div>
 	  </div>
    <br>
 	</div>


</div><!--end col-sm-3 -->

	
	<div class="col-sm-10 col-xs-12">

		<div class="bg-white"> 	
		<div class="row">  
		<div class="col-sm-4 col-xs-12">
		<h5><span class="glyphicon glyphicon-info-sign" tooltip="{{deviceDetailsTooltip}}"></span> Device Details</h5>
				  <div class="table-responsive">
				    <table class="table table-bordered table-hover">				   
				                    <thead>
				                    <th class="text-center">Type</th>
				                      <th class="text-center">Device</th>
				                      <th class="text-left">OS</th>
				                      <th class="text-center">Visits</th>
				                    </tr>
									</thead>
				                    <tr>
				                    <td class="text-center"><h5>Desktop <span class="badge"><strong>{{deskTop}}</strong></span></h5></td>
				                     <td class="text-center"><img src="img/icons/desktop.png" alt="" ></td>
				                     <td class="text-left">Windows/Mac/Linux</td>
				                     <td><button type="button" class="btn btn-sm btn-primary">{{deskTop}}</button></td>
				                    </tr>

				                    <td rowspan="5" class="text-center"><h5>Handheld <span class="badge"><strong>{{androidDevice+iOSDevice+winDevice}}</strong></span>
				                    </h5>
				                    </td>
				
				                    <tr>
				                      <td class="text-center"><img src="img/icons/android.png" alt="" />
				                      <td class="text-left">Android</td>
				                      <td><button type="button" class="btn btn-sm btn-primary">{{androidDevice}}</button></td>
				                    </tr> 

				                    <tr>
				                      <td class="text-center"><img src="img/icons/ios.png" alt="" />
				                      <td class="text-left">Apple iOS</td>
				                      <td><button type="button" class="btn btn-sm btn-primary">{{iOSDevice}}</button></td>
				                    </tr>  

				                     <tr>                                                                                     
				                      <td class="text-center"><img src="img/icons/metro.png" alt="" />
				                      <td class="text-left">Windows Mobile</td>
				                      <td><button type="button" class="btn btn-sm btn-primary">{{winDevice}}</button></td>
				                    </tr>   
				    </table>
				  
				</div><!-- end table responsive-->

		</div> <!-- end col-sm-7 col-xs-12 -->
		
		<div class="col-sm-8 hidden-xs">
		<h6></h6>
		<div class="pull-left"><span class="glyphicon glyphicon-info-sign" tooltip="{{pageCountTooltip}}"></span> Page Visits</div>
		<h6></h6>
			<div class="widget">
                <div class="widget-head">
                <div class="pull-center"><span class="glyphicon glyphicon-info-sign" tooltip="{{pageCountTooltip}}"></span>Total page visits since <div class="label label-info">{{loginTime|date:'medium'}}</div> is <div class="label label-info">{{totalPageCount}}</div>               
                </div>  <!--enc widget head -->

                <div class="widget-content">	
				<chart ng-model='chartData'></chart>
		 		</div> <!--widget content-->
		 </div> <!--end widget -->
		
</div><!--enc controller -->


		</div><!-- end row-->
		</div>
		</div>
</div>

 </div><!-- end col col-sm-8 col-xs-12"-->
<br>

<div class="row">

	<div class="col-sm-8 bg-f8-mg" >
	   
    <div class="col-sm-9 hidden-xs">      	
	
		<google-map  center="center"
                zoom="zoomProperty" 
                markers="markersProperty"
                latitude="clickedLatitudeProperty"
                longitude="clickedLongitudeProperty"
                mark-click="true"
                draggable="true"
                fit="false"
                events="eventsProperty"
                style="height: 260px; width: 90% ">
        </google-map>	
        </div> 
     <div class="col-sm-3 hidden-xs">	
	<h5><span class="glyphicon glyphicon-info-sign" tooltip="{{userDetailsTooltip}}"></span> User Details</h5>
     <piechart ng-model="pieChartUserType"></piechart>
    </div>
	</div>

  
	 <div class="col-sm-4"> 
		<div class="widget">
		<div class="widget-head">
        <div class="pull-center">
        <div class="container">
                  		<strong><span class="glyphicon glyphicon-info-sign" tooltip="{{ruleDetailsTooltip}}"></span> Rules</strong>  &nbsp; &nbsp;&nbsp;
			<a href="#/ruleactiontable" type="button" class="btn btn-sm btn-info">Total Count <span class="badge"><strong>{{totalRules}}</strong></span></a>
		</div>
        </div><!--end pull center -->
        </div><!--end widget head -->  

            <div class="widget-content">	
			<table class="table table-bordered table-hover">
  					<thead>
  						<tr>
  							<th>Name</th>
  							<th>Count</th>
  						</tr>  						
  					</thead>
  					<tbody ng-repeat="ruleDetails in ruleDetailsName" >
  						<tr>
  							<td>{{ruleDetails.displayName}}</td>
  							<td><button ng-click = "goToRuleTable(ruleDetails.ruleId)" type="button" class="btn btn-sm btn-primary">{{ruleDetails.ruleCount}}</button></td>
  						</tr>
  					</tbody>
				</table>
			</div><!-- end widget content -->
		</div><!-- end widget  -->
		</div> 



 </div> 

</div><!--enc controller -->
