
 <div class="container">
	<form name="loginForm" novalidate class="form-signin" ng-submit="login()">
		<h3 class="form-signin-heading">Login to ATOM</h3>
		<input name = "inputUser" id="username" type="text" class="form-control" placeholder="username" 
			ng-model="user.userName" ng-minlength="1" ng-maxlegth = "20" rexim-user-name = "user.userName" required autofocus>
		<div class="alert alert-danger" ng-show="SHOW_USER_ERROR">Username is required</div>				
		<input name = "inputPwd" id="password" type="password" class="form-control" placeholder="password" 
		    ng-model="user.password"	rexim-password="user.password"
		 required>
		<div class="alert alert-danger" ng-show="SHOW_PWD_ERROR">Password is required</div>
		   <!--label class="checkbox">
		    <input type="checkbox" data-color="green" value="remember-me">Remember me</label-->
		<!-- /Error message for invalid credentials -->
		
        
		<div ng-show="SHOW_AUTH_ERROR" class="alert alert-danger">Username or Password is incorrect</div>
		<h1></h1>
		<button type="submit" class="btn btn-md btn-primary btn-block">Login</button>
	</form>
 </div>